 <%# list of all the cars %>
    <% @cars.each do |car| %>
      <%= link_to car_path(car) do %>
        <div class="list-card mt-5">
            <div class="card-content">
              <h3><%= car.brand %></h3>
              <h2><%= car.model %></h2>
              <div class="bottom-content">
                <p><%= car.created_at.strftime("%a %b %-d at %H:%M %p") %></p>
                <p class="owner"><%= car.owner.name %></p>
              </div>
            </div>
            <%= image_tag(car.image_url, class:car) %>
        </div>
      <% end %>
    <% end %>
