
<%# car details %>
<div class="container w-75">
  <div class="card-show">
    <div class="car-content">
      <div class="car-name">
        <h3><%= @car.brand %></h3>
        <h2><%= @car.model %></h2>
      </div>
        <%# favourite form %>
      <div class="favourite">
        <% if @car.favourites.empty? %>
            <%= simple_form_for [@car, @favourite] do |f| %>
              <%= f.submit "Save in Garage", class:"favourite-btn"%>
              <% end %>
        <% else %>
          <p>this car is in your garage</p>
        <% end %>
      </div>
      <p><%= @car.fuel %> | <%= @car.year %></p>
    </div>
    <%= image_tag(@car.image_url) %>
  </div>



  <%# review form %>
  <div class="container">
    <%= simple_form_for [@car, @review] do |f| %>
      <%= f.input :comment, placeholder: "Write your comment here" %>
      <%= f.input :rating, as: :select, collection: [1,1.5, 2,2.5, 3,3.5, 4,4.5, 5], prompt: "Add rating" %>
      <%= f.submit "send" %>
    <% end %>
  </div>
  <%# display reviews %>
  <div class="container">
    <% @car.reviews.each do |review| %>
      <p><%= review.comment %></p>
      <p> <%= 'â­' * review.rating.to_i %></p>
    <% end %>
  </div>

  <%# back link %>
  <div class="container">
    <%= link_to "Back to cars list", cars_path %>
  </div>
</div>
